body {
	margin: 0;
	padding: 0;
	background-color: $dark;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: $light;
	font-family: $font-stack;
	font-size: 16px;

	&.background-tiles {
		background-repeat: repeat;
		background-size: 200px;
	}
}

*, *::before, *::after {
	outline: 0;
	box-sizing: border-box;
}