@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/montserrat-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/montserrat-bold.woff2') format('woff2');
}